﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Tạo người dùng</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @using (Html.BeginForm("Create", "Khachhang", FormMethod.Post, new { id = "frmkh" }))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Tạo người dùng</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-6">
                            <div class="input-group">                              
                                <input type="text" class="form-control" name="SDT" placeholder="Số điện thoại">
                                <label class="input-group-addon"><b>SDT               </b></label>
                            </div>
                            <br>

                            <div class="input-group">

                                <input type="text" class="form-control" name="Email" placeholder="email">
                                <label class="input-group-addon"><b>Email               </b></label>
                            </div>
                            <br>
                            <div class="input-group">
                                
                                <input type="text" class="form-control" name="UserName" placeholder="tên đăng nhập">
                                <span class="input-group-addon"><b>Username             </b></span>
                            </div>
                            <br>
                            <div class="input-group">
                                
                                <input type="text" class="form-control" name="Password" placeholder="mật khẩu">
                                <label class="input-group-addon"><b>Mật khẩu            </b></label>
                            </div>
                            <br>
                            <div class="input-group">
                                
                                <input type="text" class="form-control" name="comfirmpassword" placeholder="nhập lại mật khẩu">
                                <label class="input-group-addon"><b>Nhập lại mật khẩu   </b></label>
                            </div>
                            <br>
                        </div>

                        <div class="col-lg-6">


                            <div class="input-group">
                                <label class="input-group-addon"><b>Tỉnh thành               </b></label>
                                <select class="select2 form-control input-sm" style="width: 100%;" id="MaTinhThanh-cbo" name="MaTinhThanh">
                                    <option selected="selected">--chọn--</option>
                                </select>
                            </div>
                            <br>
                            <div class="input-group">
                                <label class="input-group-addon"><b>Quận huyện           </b></label>
                                <select class="select2 form-control input-sm" style="width: 100%;" id="MaQuanHuyen-cbo" name="MaQuanHuyen">
                                    <option selected="selected">--chọn--</option>
                                </select>
                            </div>
                            <br>
                            <div class="input-group">
                                <label class="input-group-addon"><b>Phường xã    </b></label>
                                <select class="select2 form-control input-sm" style="width: 100%;" id="MaPhuongXa-cbo" name="MaXaPhuong">
                                    <option selected="selected">--chọn--</option>
                                </select>
                            </div>
                            <br>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Tạo mới</button>
                        <button type="reset" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                </div>
                <!-- /.box -->
            }
        </div>
    </div>
    <!-- /.row -->
</section>


@section Script{
    <script>
        //Initialize Select2 Elements
        //$('#tinhthanh').select2()
        //$('#quanhuyen').select2()
        //$('#phuongxa').select2()
        $(function () {
            GetTinhthanh();
        });
    </script>
    @*<script src="~/Areas/Admin/Script/nguoidungTable.js"></script>*@
    <script src="~/Areas/Admin/Script/nguoidungControl.js"></script>
}
