﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <small> Cập nhập thông tin người dùng</small>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Tạo người dùng</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("EditPUT", "Khachhang", FormMethod.Post, new { id = "frmkhEdit", @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" name="UserName" placeholder="UserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" name="Email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Địa chỉ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" name="DiaChi" placeholder="Địa chỉ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">ngày sinh</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control input-sm" name="NgaySinh" placeholder="ngày sinh">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Số điện thoại</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" name="SDT" placeholder="SDT">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Giới tính</label>
                        <div class="col-sm-10">
                            <input type="radio" value="1" name="GioiTinh"> Nam
                            <input type="radio" value="0" name="GioiTinh"> Nữ
                            <input type="radio" value="-1" name="GioiTinh"> Khác
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Họ Tên</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" name="first_name" placeholder="Họ">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" name="mid_name" placeholder="Tên  đệm">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" name="last_name" placeholder="Tên chính">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Mã an toàn</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-sm" name="MaAnToan" placeholder="mã an toàn">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Mã giới thiệu</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" name="MaGioiThieu" placeholder="mã giới thiệu">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Số chứng minh thư</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" name="SoCMT" placeholder="số chứng minh thư nhân dân">
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Xác thực </label>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="TTKiemTien" value="true"> xác thực bật kiếm tiền
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="TTXacThucTK" value="true"> xác thực thông tin tài khoản
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="TTXacThucCmt" value="true"> xác thực chứng minh thư
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="IsActive" value="true"> Trạng thái
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
    <!-- /.box-body -->
            <div class="box-footer" id="footerID">
                <button type="button" class="btn btn-default" onclick="return clearControl()">Làm mới</button>
                <button type="button" class="btn btn-info pull-right" style="margin-left: 10px;">Bật kiếm tiền</button>
                <button type="submit" class="btn btn-info pull-right" id="btnupdate">Cập nhập</button>
            </div>
        }
    </div>
</section>

<!-- /.content -->
@section Script{
    <div class="modal fade" id="modal-batkiemtien">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                @using (Html.BeginForm("TurnOnMakeMoney", "Khachhang", new { idKhachhang = ViewData["ID"] }, FormMethod.Post, new { id = "frmkhbkt", @class = "form-horizontal" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Ngân hàng</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" name="Nganhang" placeholder="ngân hàng">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Tên chủ thẻ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" name="TenChuThe" placeholder="tên chủ thẻ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Sotaikhoan</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" name="Sotaikhoan" placeholder="số tài khoản">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Bỏ qua</button>
                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                    </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script>
        $(function () {
            GetIDkhachhang('@ViewBag.id');
            Getbtn('@ViewBag.id');

        });
    </script>

    <script src="~/Areas/Admin/Script/nguoidungControl.js"></script>
}

