﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Menu
        <small>Cập nhập menu</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Menu</a></li>
        <li class="active">Cập nhập menu</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("Edit", "Menu",new { idMenu = ViewBag.id }, FormMethod.Post, new { id = "frmMenuUpdate", @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên Menu</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" name="TenMenu" placeholder="Tên menu">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" name="ThuTu" placeholder="Thu Tu">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="MoTa"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked" name="TrangThai" value="true"> Trạng thái
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="return getid('@ViewBag.id')">Làm mới</button>
                <button type="submit" class="btn btn-info pull-right" id="btnupdate">Cập nhập</button>
            </div>
        }
    </div>
</section>
<!-- /.content -->
@section Script{
    <script>
        $(function () {
            getid('@ViewBag.id');
        });
    </script>
    <script src="~/Areas/Admin/Script/menucontrol.js"></script>
}

