﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    AppDbContext db = new AppDbContext();

    int? RoleID = -1;
    if (User.Identity.IsAuthenticated)
    {
        RoleID = db.Users.Where(x => x.username == User.Identity.Name).Select(x => x.role_id).FirstOrDefault();
    }
}

<section class="content-header">
    <h1>
        Menu
        <small>Menu</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Danh mục menu</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="dataTables_length">
                                    <label>
                                        Show
                                        <select id="example-length" class="form-control input-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="dataTables_filter">
                                    <label>Search:<input id="TenMenu-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="dataTables_filter">
                                    <label>
                                        Trạng thái
                                        <select id="trangthai-search" class="form-control input-sm">
                                            <option value="">--Tất cả--</option>
                                            <option value="true">Active</option>
                                            <option value="false">No Active</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example-dataTable" class="table table-bordered table-striped dataTable"></table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="example-info" role="status">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous" id="example_previous">
                                            <a class="Button">Previous</a>
                                        </li>
                                        <li class="paginate_button active" id="example-curent">
                                            <a aria-controls="example2" data-dt-idx="6" tabindex="0">6</a>
                                        </li>
                                        <li class="paginate_button next" id="example_next">
                                            <a class="Button">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section Script{


    <script src="~/Areas/Admin/Script/menutable.js"></script>
    <script src="~/Areas/Admin/Script/menucontrol.js"></script>
}