﻿
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <small>dashboard</small>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Fixed</li>
    </ol>
</section>
<!-- Main content -->
<section class="content"></section>
<!-- /.content -->