﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @using (Html.BeginForm("Create", "SanPham", FormMethod.Post, new { id = "frmSanPham" }))
            {
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tạo Ngân Hàng</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Tên sản phẩm :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="TenSanPham" name="TenSanPham" placeholder="Tên sản phẩm">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Ảnh sản phẩm :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="AnhSanPham" name="AnhSanPham" placeholder="Ảnh sản phẩm">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Chi tiết sản phẩm :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="ChiTiet" name="ChiTiet" placeholder="Chi tiết sản phẩm">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Thứ tự ưu tiên :</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control input-sm" id="ThuTuUuTien" name="ThuTuUuTien" placeholder="Thứ tự ưu tiên">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Giá sản phẩm :</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control input-sm" id="GiaBan" name="GiaBan" placeholder="Giá sản phẩm">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Giá khuyến mại:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control input-sm" id="GiaKM" name="GiaKM" placeholder="Giá khuyến mại">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Số lượng :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="SoLuong" name="SoLuong" placeholder="Số lượng">
                                </div>
                            </div>
                            <br />
                            <div class="checkbox">
                                <label for="inputPassword3" class="col-sm-1 control-label input-sm"></label>
                                <label class="col-sm-11">
                                    <input type="checkbox" name="TrangThai" id="TrangThai" checked="checked" value="true"> <label>Kích hoạt</label>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Ảnh mô tả 1 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="AnhMoTa1" name="AnhMoTa1" placeholder="Ảnh mô tả 1">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Ảnh mô tả 2 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="AnhMoTa2" name="AnhMoTa2" placeholder="Ảnh mô tả 2">
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Ảnh mô tả 3 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="AnhMoTa3" name="AnhMoTa3" placeholder="Ảnh mô tả 3">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label input-sm">Ảnh mô tả 4 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="AnhMoTa4" name="AnhMoTa4" placeholder="Ảnh mô tả 4">
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mô tả sản phẩm:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control input-sm" id="MoTa" name="MoTa" placeholder="Mô tả sản phẩm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Tạo mới</button>
                        <button type="reset" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                    <div class="overlay" id="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                    <!-- /.box -->
            }
        </div>
    </div>
    <!-- /.row -->
</section>


@section Script{
    <script>
        $(function () {
            $(".overlay").hide();
        });
    </script>
    <script src="~/Areas/Admin/Script/QLSanpham.js"></script>
}