﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    AppDbContext db = new AppDbContext();
}
@model SanPham
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chi tiêt sản phẩm
        <small>Chi tiêt sản phẩm</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Menu</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <div class="col-md-12">
                <p class="lead text-bold">Thông Tin Chi Tiết Sản Phẩm</p>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tên sản phẩm :</label>
                        <div class="col-sm-9">
                            <div id="TenSanPham"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Chi tiết sản phẩm :</label>
                        <div class="col-sm-9">
                            <div id="ChiTiet"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ảnh sản phẩm :</label>
                        <div class="col-sm-9">
                            <img id="AnhSanPham" height="220px" width="350px" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Giá sản phẩm :</label>
                        <div class="col-sm-9">
                            <div id="GiaBan"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Giá khuyến mại :</label>
                        <div class="col-sm-9">
                            <div id="GiaKM"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Số lượng :</label>
                        <div class="col-sm-9">
                            <div id="SoLuong"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Thứ tự ưu tiên :</label>
                        <div class="col-sm-9">
                            <div id="ThuTuUuTien"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Trạng thái :</label>
                        <div class="col-sm-9">
                            <div id="TrangThai"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Người tạo :</label>
                        <div class="col-sm-9">
                            <div id="CreateBy"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ngày tạo :</label>
                        <div class="col-sm-9">
                            <div id="CreateDate"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Mô tả sản phẩm:</label>
                        <div class="col-sm-9">
                            <div id="MoTa" name="MoTa"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ảnh mô tả 1 :</label>
                        <div class="col-sm-9">
                            <img id="AnhMoTa1" height="130px" width="200px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ảnh mô tả 2 :</label>
                        <div class="col-sm-9">
                            <img id="AnhMoTa2" height="130px" width="200px" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ảnh mô tả 3 :</label>
                        <div class="col-sm-9">
                            <img id="AnhMoTa3" height="130px" width="200px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ảnh mô tả 4 :</label>
                        <div class="col-sm-9">
                            <img id="AnhMoTa4" height="130px" width="200px" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

<!-- /.content -->
@section Script{
    <script>
        $(function () {
            getDetailItem('@ViewBag.MaSanPham');
        });
    </script>
    <script src="~/Areas/Admin/Script/QLSanpham.js"></script>
}

