﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    AppDbContext db = new AppDbContext();
}
@model SanPham
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cập nhật sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Menu</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("Edit", "SanPham", new { id = ViewBag.MaSanPham }, FormMethod.Post, new { id = "frmSanPhamUpdate", @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group" style="display: none">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mã sản phẩm :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="MaSanPham" name="MaSanPham" placeholder="Mã sản phẩm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Tên sản phẩm :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="TenSanPham" name="TenSanPham" placeholder="Tên sản phẩm">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh sản phẩm :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="AnhSanPham" name="AnhSanPham" placeholder="Ảnh sản phẩm">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Chi tiết sản phẩm :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="ChiTiet" name="ChiTiet" placeholder="Chi tiết sản phẩm">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Thứ tự ưu tiên :</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-sm" id="ThuTuUuTien" name="ThuTuUuTien" placeholder="Thứ tự ưu tiên">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Giá sản phẩm :</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-sm" id="GiaBan" name="GiaBan" placeholder="Giá sản phẩm">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Giá khuyến mại :</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-sm" id="GiaKM" name="GiaKM" placeholder="Giá khuyến mại">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Số lượng :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="SoLuong" name="SoLuong" placeholder="Số lượng">
                        </div>
                    </div>
                    <br />
                    <div class="checkbox">
                        <label class="pull-right input-sm">
                            <input type="checkbox" name="TrangThai" id="TrangThai" value="true"> <label>Kích hoạt</label>
                        </label>
                    </div>
                </div>

            </div>
            <div class="box-body">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh mô tả 1 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="AnhMoTa1" name="AnhMoTa1" placeholder="Ảnh mô tả 1">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh mô tả 2 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="AnhMoTa2" name="AnhMoTa2" placeholder="Ảnh mô tả 2">
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh mô tả 3 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="AnhMoTa3" name="AnhMoTa3" placeholder="Ảnh mô tả 3">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh mô tả 4 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="AnhMoTa4" name="AnhMoTa4" placeholder="Ảnh mô tả 4">
                        </div>
                    </div>
                    <br />
                </div>

            </div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mô tả sản phẩm:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control input-sm" id="MoTa" name="MoTa" placeholder="Mô tả sản phẩm"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="return getid('@ViewBag.MaSanPham')">Làm mới</button>
                <button type="submit" class="btn btn-info pull-right" id="btnupdate">Cập nhập</button>
            </div>
        }
    </div>
</section>

<!-- /.content -->
@section Script{
    <script>
        $(function () {
            detailItem('@ViewBag.MaSanPham');
        });
    </script>
    <script src="~/Areas/Admin/Script/QLSanpham.js"></script>
}


