﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MMOAdmin/Views/Shared/Layout.cshtml";
}


<section class="content-header">
    <h1>
        Chi tiết giao dịch
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Chi tiết giao dịch</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-3">
        <div class="row">
            @RenderPage("~/Areas/MMOAdmin/Views/Shared/UserAdmin.cshtml")
        </div>
    </div>
    <div class="col-md-9">
        <div id="example-dataTable">
            <div class="col-md-6">
                @*<div class="row">
                    <div class="box box-solid">
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>Mã giao dịch: </dt>
                                <dd><label class="label label-warning">34</label></dd>
                                <dt>Trạng thái</dt>
                                <dd><label class="label label-warning">chờ xác nhận</label></dd>
                                <dt>Khách hàng:</dt>
                                <dd>LÊ VĂN LONG</dd>
                                <dt>Ngân hàng</dt>
                                <dd>Techcombank</dd>
                                <dt>Số tiền</dt>
                                <dd><label class="label label-default">50000</label></dd>
                                <dt>Ngày tạo</dt>
                                <dd>10/30/2020 2:12 pm</dd>
                                <dt>Ghi chú</dt>
                                <dd>long ghi chú</dd>
                            </dl>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example-info" role="status">Showing 0 to 00 of 00 entries</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="example_previous">Previous</button>
                            <span class="btn btn-default" id="example-curent"><i class="fa fa-align-center"></i></span>
                            <button type="button" class="btn btn-default" id="example_next">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section ScriptHome{
    <script src="~/Areas/MMOAdmin/Script/AccuracyAdmin.js"></script>
    <script type="text/javascript">
        var currentPage = 1, lastPage = 1, perPage = 10, total = 100, magiaodich = null, formdate = null, todate = null;

        /////////////////////////////////////////////////////////////////////////////////
        $(function () {
            $("#magiaodich-search").on("keyup", function () {
                magiaodich = this.value;
                currentPage = 1;
                LoadData();
            });

            $("#formdate-search").on("change", function () {
                formdate = this.value;
                currentPage = 1;
                LoadData();
            });

            $("#todate-search").on("change", function () {
                todate = this.value;
                currentPage = 1;
                LoadData();
            });
        });

        ///////////////////////////////////////////////////////////////////////////////
        $(function () {
            LoadData();
            $('#example-length').on('change', function () {
                perPage = this.value;
                currentPage = 1
                LoadData();
            });
            $("#example_previous").on("click", function () {
                if (total > 0) {
                    if (currentPage > 1) {
                        currentPage--;

                    } else {
                        currentPage = lastPage;
                    }
                }
                LoadData();
            });
            $("#example_next").on("click", function () {
                if (currentPage * perPage < total) {
                    currentPage++;

                } else {
                    currentPage = 1
                }
                LoadData();
            });
        });
        /////////////////////////////////////////////////////////////////////////////////


        function LoadData() {
            $(".loading").show();
            $.ajax({
                url: "/ExChange/Get?perPage=" + perPage + "&currentPage=" + currentPage + "&magiaodich=" + magiaodich + "&formdate=" + formdate + "&todate=" + todate,
                type: "GET",
                success: function (data) {
                    total = data.data.total;
                    lastPage = data.data.lastPage;
                    currentPage = data.data.currentPage;
                    $("#example-curent").html(data.data.currentPage + '/' + data.data.lastPage);
                    $("#example-info").html('Showing ' + data.data.currentPage + ' to ' + data.data.lastPage + ' of ' + data.data.total + ' entries')
                    datatable(data.data.apiResult);
                    $(".loading").hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function datatable(data) {
            var htm = '';
            $.each(data, function (key, item) {
                htm += ' <div class="col-md-12">';
                htm += '  <div class="row">';
                htm += '<div class="box box-solid">';
                htm += '   <div class="box-body">';
                htm += '       <dl class="dl-horizontal">';
                htm += '           <dt>Mã giao dịch: </dt>';
                htm += '           <dd><label class="label label-warning">' + item.MaGiaoDich + '</label></dd>';
                htm += '           <dt>Trạng thái</dt>';
                if (item.TrangThaiDuyet == 1)
                    htm += '           <dd><label class="label label-warning">chờ xác nhận</label></dd>';
                if (item.TrangThaiDuyet == 2)
                    htm += '           <dd><label class="label label-primary">chờ duyệt</label></dd>';
                if (item.TrangThaiDuyet == 3)
                    htm += '           <dd><label class="label label-success">đã duyệt</label></dd>';
                if (item.TrangThaiDuyet == 4)
                    htm += '           <dd><label class="label label-default">đã chuyển tiền</label></dd>';
                if (item.TrangThaiDuyet == 0)
                    htm += '           <dd><label class="label label-danger">hủy duyệt</label></dd>';
                htm += '           <dt>Khách hàng:</dt>';
                htm += '           <dd>' + item.full_name + '</dd>';
                htm += '           <dt>Ngân hàng</dt>';
                htm += '           <dd>' + item.NganHang + '</dd>';
                htm += '           <dt>Số tiền</dt>';
                htm += '           <dd><label class="label label-default">' + item.SoTien + '</label></dd>';
                htm += '           <dt>Ngày tạo</dt>';
                htm += '           <dd>' + Fomatdate(item.NgayTao) + '</dd>';
                htm += '           <dt>Ghi chú</dt>';
                htm += '           <dd>' + item.GhiChu + '</dd>';
                htm += '       </dl>';
                htm += '   </div>';
                htm += '</div>';
                htm += '</div>';
                htm += '</div>';
            });
            $("#example-dataTable").html(htm);
        }
    </script>
}

