﻿
@{
    Layout = null;
    string Sitename = System.Configuration.ConfigurationSettings.AppSettings["Sitename"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Html.Raw(Sitename) | Yêu cầu thay đổi mật khẩu</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Lib/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Lib/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Lib/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Lib/plugins/iCheck/square/blue.css">
    <!-- alertifyjs -->
    <link href="~/Lib/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/alertify.rtl.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/default.rtl.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/semantic.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/semantic.rtl.css" rel="stylesheet" />
    <!--loading-->
    <link href="~/Lib/loader/loading.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="loading">Loading&#8230;</div>
    <div class="login-box">
        <div class="login-logo">
            @*<a href="/home"><b>MME</b> Complex</a>*@
            <a href="/home" style="font-size: 25px"><b>@Html.Raw(Sitename)</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Thay đổi mật khẩu</p>

            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="Password" placeholder="Mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="PasswordComfirm" placeholder="Nhập lại mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4 pull-right">
                    <button type="button" onclick="return btnPasswordRequire()" class="btn btn-primary btn-block btn-flat">Đồng ý</button>
                </div>
                <!-- /.col -->
            </div>

            <!-- /.social-auth-links -->
            <a href="/login">Đăng nhập</a><br>
            <a href="/registration">Chưa có tài khoản !</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Lib/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Lib/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Areas/Admin/notify/notify.min.js"></script>
    <!-- alertifyjs -->
    <script src="~/Lib/alertifyjs/alertify.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });</script>

    <script>

        $(function () {
            $(function () {
                $(".loading").hide();
            });
        });

        function btnPasswordRequire() {
            var OTP='@ViewBag.OTP';
            var username='@ViewBag.Username';
            var Password=$('input[type="password"][name=Password]').val();
            var PasswordComfirm=$('input[type="password"][name=PasswordComfirm]').val();
            $.ajax({
                type: 'POST',
                url: '/ForgotPassword/ChangePassword',
                data: {
                    OTP: OTP,
                    username: username,
                    Password: Password,
                    PasswordComfirm: PasswordComfirm
                },
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        window.location = data.action;
                    } else { alertify.alert('Thông báo', data.message); }
                    $(".loading").hide();
                },
                error: function (data) {
                    $.notify("Tạo thông tin thất bại", { position: "top right", className: "error" });
                },
            });
        }
    </script>
</body>
</html>
