﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <small>Giao dịch</small>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Danh sách Giao dịch</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="dataTables_length">
                                    <label>
                                        Show
                                        <select id="example-length" class="form-control input-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>Mã giao dịch:<input id="magiaodich-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>Mã khách hàng:<input id="makhachhang-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>User nhân viên:<input id="manhanvienduyet-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>Từ ngày:<input id="formdate-search" type="date" class="form-control input-sm" placeholder="search" /></label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>Đến ngày:<input id="todate-search" type="date" class="form-control input-sm" placeholder="search" /></label>
                                </div>
                            </div>
                            <div class="col-sm-3 pull-right">
                                <div class="dataTables_filter">
                                    <label>
                                        Trạng thái duyệt
                                        <select id="trangthaiduyet-search" class="form-control input-sm">
                                            <option value="">--Tất cả--</option>
                                            <option value="1">Chờ xác nhân</option>
                                            <option value="2">Chờ duyệt</option>
                                            <option value="3">Đã duyệt</option>
                                            <option value="4">Đã chuyển tiền</option>
                                            <option value="0">Hủy giao dịch</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm("isActive", "Giaodich", FormMethod.Post, new { id = "frmGiaodich" }))
                        {
                            <div class="row">
                                <div class="box-header ui-sortable-handle" style="cursor: move;">
                                    <div class="box-tools pull-left" title="">
                                        <div class="btn-group" id="getroleid">
                                            <button type="button" class="btn btn-danger btn-sm" onclick="return TrangthaiDuyet(0)">Hủy duyệt giao dịch</button>
                                            <button type="button" class="btn btn-primary btn-sm" onclick="return TrangthaiDuyet(2)">Xác nhận giao dịch</button>
                                            <button type="button" class="btn btn-success btn-sm" onclick="return TrangthaiDuyet(3)">Duyệt giao dịch</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example-dataTable" class="table table-bordered table-striped dataTable"></table>
                                </div>
                            </div>
                        }


                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="example-info" role="status">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous" id="example_previous">
                                            <a class="Button">Previous</a>
                                        </li>
                                        <li class="paginate_button active" id="example-curent">
                                            <a aria-controls="example2" data-dt-idx="6" tabindex="0">6</a>
                                        </li>
                                        <li class="paginate_button next" id="example_next">
                                            <a class="Button">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section Script{
    <script src="~/Areas/Admin/Script/giaodichTable.js"></script>
    <script src="~/Areas/Admin/Script/giaodichControl.js"></script>
    <script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: '/Admin/Giaodich/GetRole',
            success: function (data) {
                var htm = '';
                htm += '<button type="button" class="btn btn-danger btn-sm" onclick="return TrangthaiDuyet(0)">Hủy duyệt giao dịch</button>';
                if (data.data == "111")
                    htm += '<button type="button" class="btn btn-success btn-sm" onclick="return TrangthaiDuyet(3)">Duyệt giao dịch</button>';
                if (data.data == "222")
                    htm += '<button type="button" class="btn btn-primary btn-sm" onclick="return TrangthaiDuyet(2)">Xác nhận giao dịch</button>';
                $('#getroleid').html(htm);
            },
            error: function (data) {
                notification(data.message);
            },
        });
    </script>
}

