﻿
@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <small>Chi tiết giao dịch</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Giao dịch</a></li>
        <li class="active">Chi tiết giao dịch</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools pull-left" title="">
                        <div class="btn-group" id="getroleid">
                            @*<button type="button" class="btn btn-danger btn-sm" onclick="return TrangthaiDuyet2('@ViewBag.id', 0)">Hủy duyệt giao dịch</button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="return TrangthaiDuyet2('@ViewBag.id', 2)">Xác nhận giao dịch</button>
                                <button type="button" class="btn btn-success btn-sm" onclick="return TrangthaiDuyet2('@ViewBag.id',3)">Duyệt giao dịch</button>
                                <button type="button" class="btn btn-default btn-sm" onclick="return TrangthaiDuyet3('@ViewBag.id')">Xác nhận chuyển tiền</button>*@
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="infoGiaodich">
                    @*<div class="col-md-6">
                            <p class="lead">Thông Tin Giao Dịch <label class="label label-success">Hoạt động</label></p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Mã giao dịch:</th>
                                        <td>$250.30</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày tạo:</th>
                                        <td>$10.34</td>
                                    </tr>
                                    <tr>
                                        <th>Trạng thái:</th>
                                        <td>$5.80</td>
                                    </tr>
                                    <tr>
                                        <th>Ngân hàng:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Số tài khoản:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Chủ tài khoản:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Số tiền:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Số dư sau rút:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Ghi chú:</th>
                                        <td>$265.24</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <p class="lead">Thông Tin Nhân Viên Duyệt</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Username:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Họ tên:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Chức vụ:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Trạng thái:</th>
                                        <td><label class="label label-success">Hoạt động</label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <p class="lead">Thông Tin Người Dùng</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Mã khách hàng:</th>
                                        <td>$250.30</td>
                                    </tr>
                                    <tr>
                                        <th>Họ tên:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Tên đăng nhập</th>
                                        <td>$10.34</td>
                                    </tr>
                                    <tr>
                                        <th>Email đăng kí:</th>
                                        <td>$5.80</td>
                                    </tr>
                                    <tr>
                                        <th>Địa chỉ:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Số điện thoại:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Chứng minh thư:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày tạo:</th>
                                        <td>$265.24</td>
                                    </tr>
                                    <tr>
                                        <th>Số dư:</th>
                                        <td>$265.24</td>
                                    <tr>
                                        <th>Trạng thái:</th>
                                        <td><label class="label label-success">Hoạt động</label></td>
                                    </tr>

                                    <tr>
                                        <th>Kiếm tiền:</th>
                                        <td><label class="label label-success">Hoạt động</label></td>
                                    </tr>
                                    <tr>
                                        <th>Xác thực:</th>
                                        <td><label class="label label-success">Hoạt động</label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>*@
                    <!-- /.col -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section Script{
    <script>
        var idGiaodich = '@ViewBag.id';
        $(function () {
            getid(idGiaodich);
        });
    </script>

    <script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: '/Admin/Giaodich/GetRole',
            success: function (data) {
                var htm = '';
                htm += '<button type="button" class="btn btn-danger btn-sm" onclick="return TrangthaiDuyet2(@ViewBag.id, 0)">Hủy duyệt giao dịch</button>';
                if (data.data == "111")
                {
                    htm += '<button type="button" class="btn btn-success btn-sm" onclick="return TrangthaiDuyet2(@ViewBag.id,3)">Duyệt giao dịch</button>';
                    htm += ' <button type="button" class="btn btn-default btn-sm" onclick="return TrangthaiDuyet3(@ViewBag.id)">Xác nhận chuyển tiền</button>';
                }
                if (data.data == "222")
                    htm += '<button type="button" class="btn btn-primary btn-sm" onclick="return TrangthaiDuyet2(@ViewBag.id, 2)">Xác nhận giao dịch</button>';
                $('#getroleid').html(htm);
            },
            error: function (data) {
                notification(data.message);
            },
        });
    </script>
    <script src="~/Areas/Admin/Script/giaodichControl.js"></script>
}
