﻿
@{
    ViewBag.Title = "kiếm tiền online subcribe kiếm xu";
    Layout = "~/Areas/MMOAdmin/Views/Shared/Layout.cshtml";
}

<section class="content-header">
    <h1>
        Đăng kí kênh kiếm xu
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Đăng kí kênh kiếm xu</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-widget container" style="max-width:640px" id="video-view">
                @*<div class="box-body">
                    <iframe id="existing-iframe-example" width="100%" height="auto"
                            src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1" frameborder="0"
                            style="border: solid 4px #37474F"></iframe>
                </div>
                <div class="box-footer" id="setSecons">
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Đăng kí</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Nhận xu</button>
                    <span class="pull-right text-muted"><span id="h">Giờ</span> : <span id="m">Phút</span> : <span id="s">Giây</span></span>
                </div>*@
            </div>
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header id="video-offer"-->
                <div class="box-body" id="video-offer">
                    @*<div class="col-md-3">
                        <div class="box box-danger">
                            <div class="box-body">
                                <span class="mailbox-attachment-icon has-img"><img src="https://yt3.ggpht.com/a/AATXAJz_pGMwtFsQO7QOCi3hfleLS2SpSb8mGiYjT-qi=s88-c-k-c0x00ffffff-no-rj" alt="Attachment"></span>
                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-youtube"></i> UCAwT6OP-zmruMb4EjSRFQ6w</a>
                                    <span class="mailbox-attachment-size">
                                        200 xu
                                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-eye"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="box-footer">
                    <p id="example-info_offer" class="pagination pull-left"></p>
                    <nav aria-label="Page navigation example" class="pull-right">
                        <ul class="pagination">
                            <li class="page-item">
                                <span class="page-link" aria-label="Previous" id="example_previous_offer">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </li>
                            <li class="page-item" id="example-curent_offer"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <span class="page-link" aria-label="Next" id="example_next_offer">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptHome{
    <script>
        var channelsToUserID = '@ViewBag.channelsToUserID';
        var IdKenh=@ViewBag.IdKenh ;
        $(function () {
            videoShow('@ViewBag.IdKenh');
        })

    </script>

    <script src="~/Areas/MMOAdmin/Script/SubcriberEmbedVideo.js"></script>
}
