﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm Ngân Hàng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Ngân Hàng</li>
    </ol>
</section>
<!-- Main content -->
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @using (Html.BeginForm("Create", "MD_NganHang", FormMethod.Post, new { id = "frmNganHang" }))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tạo Ngân Hàng</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Tên ngân hàng</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="TenNganhang" name="TenNganhang" placeholder="Tên ngân hàng">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2" style="margin-top: 5px">
                                <input type="checkbox" name="isActive" id="isActive" checked="checked" value="true"> Kích hoạt
                            </div>
                            <div class="col-sm-8"></div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Tạo mới</button>
                        <button type="reset" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                    <div class="overlay" id="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->
            }
        </div>
    </div>
    <!-- /.row -->
</section>

@section Script{
    <script>
    $(function () {
        $(".overlay").hide();
    });
    var frmNganHang = $("#frmNganHang");
    frmNganHang.submit(function (e) {
        $(".overlay").show();
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: frmNganHang.attr('action'),
                data: frmNganHang.serialize(),
                success: function (data) {
                    if (data.success) {
                        $.notify(data.message, "success");
                    } else { $.notify(data.message, { position: "top right", className: "error" }); }
                    $(".overlay").hide();
                },
                error: function (data) {
                    $.notify("Tạo thông tin thất bại", { position: "top right", className: "error" });
                    $(".overlay").hide();
                },
            });
        });
    </script>
}