﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Cài đặt chung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    AppDbContext db = new AppDbContext();
    string Logo_TrangChu = db.CaiDatChungs.Where(x => x.Name.Trim() == "Logo_TrangChu").Select(x => x.Content).FirstOrDefault();
    string Gioithieu = db.CaiDatChungs.Where(x => x.Name.Trim() == "Gioithieu").Select(x => x.Content).FirstOrDefault();
    string Email_1 = db.CaiDatChungs.Where(x => x.Name.Trim() == "Email_1").Select(x => x.Content).FirstOrDefault();
    string Email_2 = db.CaiDatChungs.Where(x => x.Name.Trim() == "Email_2").Select(x => x.Content).FirstOrDefault();
    string Email_3 = db.CaiDatChungs.Where(x => x.Name.Trim() == "Email_3").Select(x => x.Content).FirstOrDefault();
    string Hotline_1 = db.CaiDatChungs.Where(x => x.Name.Trim() == "Hotline_1").Select(x => x.Content).FirstOrDefault();
    string Hotline_2 = db.CaiDatChungs.Where(x => x.Name.Trim() == "Hotline_2").Select(x => x.Content).FirstOrDefault();
    string Hotline_3 = db.CaiDatChungs.Where(x => x.Name.Trim() == "Hotline_3").Select(x => x.Content).FirstOrDefault();
    string LinkFanpage = db.CaiDatChungs.Where(x => x.Name.Trim() == "LinkFanpage").Select(x => x.Content).FirstOrDefault();
    string LinkZalo = db.CaiDatChungs.Where(x => x.Name.Trim() == "LinkZalo").Select(x => x.Content).FirstOrDefault();
    string LinkInstagram = db.CaiDatChungs.Where(x => x.Name.Trim() == "LinkInstagram").Select(x => x.Content).FirstOrDefault();
    string LinkYoutube = db.CaiDatChungs.Where(x => x.Name.Trim() == "LinkYoutube").Select(x => x.Content).FirstOrDefault();
    string LinkGoogleAnalytic = db.CaiDatChungs.Where(x => x.Name.Trim() == "LinkGoogleAnalytic").Select(x => x.Content).FirstOrDefault();
    string LinkGoogleMaster = db.CaiDatChungs.Where(x => x.Name.Trim() == "LinkGoogleMaster").Select(x => x.Content).FirstOrDefault();
    string AnhQR_1 = db.CaiDatChungs.Where(x => x.Name.Trim() == "AnhQR_1").Select(x => x.Content).FirstOrDefault();
    string AnhQR_2 = db.CaiDatChungs.Where(x => x.Name.Trim() == "AnhQR_2").Select(x => x.Content).FirstOrDefault();
    string AnhQR_3 = db.CaiDatChungs.Where(x => x.Name.Trim() == "AnhQR_3").Select(x => x.Content).FirstOrDefault();
    string TruSo = db.CaiDatChungs.Where(x => x.Name.Trim() == "TruSo").Select(x => x.Content).FirstOrDefault();
    string ggMap = db.CaiDatChungs.Where(x => x.Name.Trim() == "ggMap").Select(x => x.Content).FirstOrDefault();
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <small>Cài đặt chung</small>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cài đặt chung</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        @using (Html.BeginForm("Edit", "Caidatchung", FormMethod.Post, new { id = "frmCaidat" }))
        {
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin trang</h3>
                    </div>
                    <div class="box-body form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Logo_TrangChu</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="Logo_TrangChu" name="Logo_TrangChu" value="@Html.Raw(Logo_TrangChu)" placeholder="Logo TrangChu">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info btn-flat" onclick="return _FinderLogoTrangChu()">Mở thư viện</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Giới thiệu ngắn</label>
                            <div class="col-sm-10">
                                @*<input type="text" class="form-control" id="Gioithieu" name="Gioithieu" placeholder="Giới thiệu ngắn">*@
                                <textarea class="form-control" id="Gioithieu" name="Gioithieu" rows="2" placeholder="Giới thiệu ngắn">@Html.Raw(Gioithieu)</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Trụ sở</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="TruSo" name="TruSo" value="@Html.Raw(TruSo)" placeholder="Trụ sở">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Email</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Email 1</label>
                            <input type="email" class="form-control" id="Email_1" name="Email_1" value="@Html.Raw(Email_1)" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label>Email 2</label>
                            <input type="email" class="form-control" id="Email_2" name="@Html.Raw(Email_2)" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label>Email 3</label>
                            <input type="email" class="form-control" id="Email_3" name="@Html.Raw(Email_3)" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <!-- /.box -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Hotline</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hotline 1</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Hotline_1" name="Hotline_1" value="@Html.Raw(Hotline_1)" placeholder="Hotline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hotline 2</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="Hotline_2" name="Hotline_2" value="@Html.Raw(Hotline_2)" placeholder="Hotline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hotline 3</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="Hotline_3" name="Hotline_3" value="@Html.Raw(Hotline_3)" placeholder="Hotline">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Liên kết</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Link Fanpage</label>
                            <input type="text" class="form-control" id="LinkFanpage" name="LinkFanpage" value="@Html.Raw(LinkFanpage)" placeholder="Link Fanpage">
                        </div>
                        <div class="form-group">
                            <label>Link Zalo</label>
                            <input type="text" class="form-control" id="LinkZalo" name="LinkZalo" value="@Html.Raw(LinkZalo)" placeholder="Link Zalo">
                        </div>
                        <div class="form-group">
                            <label>Link Instagram</label>
                            <input type="text" class="form-control" id="LinkInstagram" name="LinkInstagram" value="@Html.Raw(LinkInstagram)" placeholder="Link Instagram">
                        </div>
                        <div class="form-group">
                            <label>Link Youtube</label>
                            <input type="text" class="form-control" id="LinkYoutube" name="LinkYoutube" value="@Html.Raw(LinkYoutube)" placeholder="Link Youtube">
                        </div>
                        <div class="form-group">
                            <label>Link Google Analytic</label>
                            <input type="text" class="form-control" id="LinkGoogleAnalytic" name="LinkGoogleAnalytic" value="@Html.Raw(LinkGoogleAnalytic)" placeholder="Link Google Analytic">
                        </div>
                        <div class="form-group">
                            <label>Link Google Master</label>
                            <input type="text" class="form-control" id="LinkGoogleMaster" name="LinkGoogleMaster" value="@Html.Raw(LinkGoogleMaster)" placeholder="Link Google Master">
                        </div>
                    </div>
                </div>
                <!-- /.box -->

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ảnh QR</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Ảnh QR 1</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="AnhQR_1" name="AnhQR_1" value="@Html.Raw(AnhQR_1)" placeholder="Ảnh QR">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" onclick="return _FinderAnhQR_1()">Mở thư viện</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ảnh QR 2</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="AnhQR_2" name="AnhQR_2" value="@Html.Raw(AnhQR_2)" placeholder="Ảnh QR">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" onclick="return _FinderAnhQR_2()">Mở thư viện</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ảnh QR 3</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="AnhQR_3" name="AnhQR_3" value="@Html.Raw(AnhQR_3)" placeholder="Ảnh QR">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" onclick="return _FinderAnhQR_3()">Mở thư viện</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Google Map</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <textarea class="form-control" name="ggMap" id="ggMap" placeholder="Google map" rows="4">@Html.Raw(ggMap)</textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button class="btn btn-sm btn-success pull-right" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Cập nhập</button>
            </div>
        }
    </div>
</section>
@section Script{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/samples/js/sample.js"></script>
    <script src="~/ckfinderxyz/ckfinder.js"></script>

    <script type="text/javascript">
        function _FinderLogoTrangChu() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Logo_TrangChu").val(fileUrl);
            };
            finder.popup();
        }

        function _FinderAnhQR_1() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#AnhQR_1").val(fileUrl);
            };
            finder.popup();
        }

        function _FinderAnhQR_2() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#AnhQR_2").val(fileUrl);
            };
            finder.popup();
        }

        function _FinderAnhQR_3() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#AnhQR_3").val(fileUrl);
            };
            finder.popup();
        }

        var frmCaidat = $("#frmCaidat");
        frmCaidat.submit(function (e) {
            showPage(true);
            e.preventDefault();
            $.ajax({
                type: 'PUT',
                url: frmCaidat.attr('action'),
                data: frmCaidat.serialize(),
                success: function (data) {
                    if (data.success) {
                        notification(data.message);
                       // Location.reload();
                    } else { notification(data.message); }
                    showPage(false);
                },
                error: function (data) {
                    notification("lỗi hệ thống");
                },
            });
        });
    </script>
}