﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MMOAdmin/Views/Shared/Layout.cshtml";
}

<section class="content-header">
    <h1>
        Cập nhập thông tin tài khoản
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cập nhập thông tin tài khoản</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-3">
        <div class="row">
            @RenderPage("~/Areas/MMOAdmin/Views/Shared/UserAdmin.cshtml")
        </div>
    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
                <li><a href="#activity" data-toggle="tab">Yêu cầu rút tiền</a></li>
                <li><a href="#timeline" data-toggle="tab">Kháng nghị</a></li>
                <li><a href="#resetpassword" data-toggle="tab">Đổi mật khẩu</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="activity">
                    @using (Html.BeginForm("transactionRequest", "Profiles", FormMethod.Post, new { id = "frmTransactionRequest", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Ngân hàng hỗ trợ rút tiền</label>
                            <div class="col-sm-10">
                                <select class="select2 form-control input-sm" style="width: 100%;" id="TenNganHang-cbo" name="TenNganHang">
                                    <option selected="selected">--chọn--</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Số tài khoản</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="SoTaiKhoan" name="SoTaiKhoan"
                                       placeholder="Số tài khoản">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Tên chủ thẻ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="TenChuThe" name="TenChuThe"
                                       placeholder="Tên chủ thẻ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Số tiền</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="SoTien" name="SoTien"
                                       placeholder="Số tiền">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Mã An Toàn</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="otp" name="otp"
                                       placeholder="Mã an toàn">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="my-btn btn1">Yêu cầu</button>
                            </div>
                        </div>
                    }
                </div>

                <div class="tab-pane" id="resetpassword">
                    @using (Html.BeginForm("Resetpass", "Profiles", FormMethod.Post, new { id = "frmResetpass", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Mật khẩu cũ</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pass" name="pass"
                                       placeholder="Mật khẩu cũ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Mật khẩu mới</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="passnew" name="passnew"
                                       placeholder="Mật khẩu mới">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nhập lại Mật khẩu mới</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="comfirmpass" name="comfirmpass"
                                       placeholder="Nhập lại mật khẩu mới">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="my-btn btn1">Cập nhập</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                    @using (Html.BeginForm("KhangnghiPost", "Profiles", FormMethod.Post, new { id = "frmkhangnghi", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Tiêu đề</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="TieuDe" name="TieuDe"
                                       placeholder="Tiêu đề">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nội dung</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" name="NoiDung" id="NoiDung" cols="30" rows="10" placeholder="Nội dung"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="my-btn btn1">Gửi</button>
                            </div>
                        </div>
                    }

                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane active" id="settings">
                    @using (Html.BeginForm("PutProfile", "Profiles", FormMethod.Post, new { id = "frmuserput", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Họ tên</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                       placeholder="Họ">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="mid_name" name="mid_name"
                                       placeholder="Tên đệm">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                       placeholder="Tên chính">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Số điện thoại</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="SDT" name="SDT"
                                       placeholder="Số điện thoại">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Giới tính</label>

                            <div class="col-sm-10">
                                <input type="radio" value="1" name="GioiTinh"> Nam
                                <input type="radio" value="2" name="GioiTinh"> Nữ
                                <input type="radio" value="0" name="GioiTinh"> Khác
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ngày sinh</label>

                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="NgaySinh" name="NgaySinh"
                                       placeholder="Ngày sinh">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputExperience"
                                   class="col-sm-2 control-label">Giới thiệu</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="GioiThieu" name="GioiThieu"
                                          placeholder="Giới thiệu về bản thân"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="submit" class="my-btn btn1">Cập nhập</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="my-btn btn1" id="Accuracyxttk" onclick="return btnAccuracyxttk()">Xác thực tài khoản</button>
                                <button type="button" class="my-btn btn1" id="Accuracykhtt" onclick="return btnAccuracykhtt()">Kích hoạt kiếm tiền</button>
                                <button type="button" class="my-btn btn1" id="Accuracymat" onclick="return btnAccuracymat()">Tạo mã an toàn</button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</section>

@section ScriptHome{
    <script src="~/Areas/MMOAdmin/Script/AccuracyAdmin.js"></script>
    <script src="~/Areas/MMOAdmin/Script/ProfileAdmin.js"></script>
}