﻿
@{
    Layout = null;
    string Sitename = System.Configuration.ConfigurationSettings.AppSettings["Sitename"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Html.Raw(Sitename) | Đăng kí tài khoản</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Lib/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Lib/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Lib/bower_components/select2/dist/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Lib/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Lib/plugins/iCheck/square/blue.css">
    <!-- alertifyjs -->
    <link href="~/Lib/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/alertify.rtl.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/default.rtl.min.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/semantic.css" rel="stylesheet" />
    <link href="~/Lib/alertifyjs/css/themes/semantic.rtl.css" rel="stylesheet" />
    <!--loading-->
    <link href="~/Lib/loader/loading.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
    </style>
</head>
<body class="hold-transition register-page">
    <div class="loading">Loading&#8230;</div>
    <div class="register-box">
        <div class="register-logo">
            @*<a href="/home"><b>MME</b> Complex</a>*@
            <a href="/home" style="font-size: 25px"><b>@Html.Raw(Sitename)</b></a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Đăng ký thành viên mới</p>
            <form action="/regisTration-post?Magioithieu=@ViewBag.Magioithieu" class="form-horizontal" id="frmregisTration" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-sm" name="full_name" id="full_name" placeholder="Họ tên">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-sm" name="Email" id="Email" placeholder="Email">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-sm" name="Username" id="Username" placeholder="Tên đăng nhập">
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control input-sm" name="Password" id="Password" placeholder="Mật khẩu">
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control input-sm" name="comfirmpassword" id="comfirmpassword" placeholder="Nhập lại mật khẩu">
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng kí</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign up using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign up using
                        Google+
                    </a>
                </div>*@
            <a href="/login" class="text-center">Đã có tài khoản</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery 3 -->
    <script src="~/Lib/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Lib/plugins/iCheck/icheck.min.js"></script>
    <!-- Select2 -->
    <script src="~/Lib/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- alertifyjs -->
    <script src="~/Lib/alertifyjs/alertify.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(".loading").hide();
        })


        var frmregisTration = $("#frmregisTration");
        frmregisTration.submit(function (e) {
            $(".loading").show();
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: frmregisTration.attr('action'),
                data: frmregisTration.serialize(),
                success: function (data) {
                    $(".loading").hide();
                    if (data.success) {
                        alertify.confirm("Thông báo",data.message,
                          function () {
                              window.location = data.action;
                          },
                          function () {
                              alertify.error('Cancel');
                          });
                    } else { alertify.alert('Thông báo', data.message); }
                },
                error: function (data) {
                    alertify.alert('Thông báo', 'lỗi hệ thống');
                },
            });
        });
    </script>
</body>
</html>
