﻿
@{
    Layout = null;
}

<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>MM</b>O</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","video")">Youtobe View</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Youtobe Subcribe <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="youtobe-subcribe">
                            <li><a href="@Url.Action("Index","SubcriberEmbedVideo",new { id="", idkenh ="default"})">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Tạo liên kết google</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index","Profiles")">Tài khoản</a></li>
                    <li><a href="@Url.Action("Index","ExChange")">Giao dịch</a></li>
                    <li><a href="#">Hướng dẫn sử dụng</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!--<li class="dropdown messages-menu">-->
                        <!-- Menu toggle button -->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>-->
                                <!-- inner menu: contains the messages -->
                                <!--<ul class="menu">
                                    <li>-->
                                        <!-- start message -->
                                        <!--<a href="#">
                                            <div class="pull-left">-->
                                                <!-- User Image -->
                                                <!--<img src="~/Lib/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>-->
                                            <!-- Message title and timestamp -->
                                            <!--<h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>-->
                                            <!-- The message -->
                                            <!--<p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>-->
                                    <!-- end message -->
                                <!--</ul>-->
                                <!-- /.menu -->
                            <!--</li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>-->
                    <!-- /.messages-menu -->
                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning" id="notifycount2">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header" id="notifycount"></li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu" id="NotifyData"></ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks Menu -->
                    <!--<li class="dropdown tasks-menu">-->
                        <!-- Menu Toggle Button -->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>-->
                                <!-- Inner menu: contains the tasks -->
                                <!--<ul class="menu">
                                    <li>-->
                                        <!-- Task item -->
                                        <!--<a href="#">-->
                                            <!-- Task title and progress text -->
                                            <!--<h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>-->
                                            <!-- The progress bar -->
                                            <!--<div class="progress xs">-->
                                                <!-- Change the css width attribute to simulate progress -->
                                                <!--<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>-->
                                    <!-- end task item -->
                                <!--</ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>-->
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Lib/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Đăng xuất</span>
                        </a>
                        <ul class="dropdown-menu" style="width: auto">
                            <!-- User image -->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <form action="/LoginHome/Logout" method="post">
                                        <button type="submit" class="btn btn-default btn-flat">Đăng xuất tài khoản</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
