﻿
@{
    Layout = null;
}

<div class="modal" id="modal-alert">
    <div class="modal-dialog modal-sm modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="alert-title"> </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="alert-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="myModal-footer">
                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Accuracy">
    <div class="loading">Loading&#8230;</div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left">Quên mã an toàn</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Bỏ qua</button>
                <button type="button" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->