﻿
@{
    Layout = null;
}

<div class="box box-default"id="infoprofile">
    @*<div class="box-body">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header">
                <div class="user-block">
                    <img class="img-circle" src="~/Lib/dist/img/user1-128x128.jpg" alt="User Image">
                    <span class="username"><a href="#">LÊ VĂN LONG</a></span>
                    <span class="description">7:30 PM Today</span>
                </div>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                    <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-body">
        <strong><i class="fa fa-book margin-r-5"></i> Gửi link giới thiệu cho bạn bè</strong>
        <p class="text-muted">    <a href="http://localhost:2738/registration/IV0015" target="blank">http://localhost:2738/registration/IV0015</a> </p>
        <p class="text-muted">Bạn bè khi truy cập vào đường link trên để đăng ký tài khoản,.... </p>
        <hr>
    </div>*@
    @*<div class="box-body">
        <div class="box-body" id="Accuracyxttk">
            <button type="button" class="btn btn-block btn-xs btn-success" style="border-radius: 0px;" data-toggle="modal" data-target="#modal-Accuracyxttk">Xác thực tài khoản</button>
        </div>
        <div class="box-body" id="Accuracykhtt">
            <button type="button" class="btn btn-block btn-xs btn-warning" style="border-radius: 0px;" data-toggle="modal" data-target="#modal-Accuracykhtt">Kích hoạt kiếm tiền</button>
        </div>
        <div class="box-body" id="Accuracymat">
            <button type="button" class="btn btn-block btn-xs btn-primary" style="border-radius: 0px;" data-toggle="modal" data-target="#modal-Accuracymat">Tạo mã an toàn</button>
        </div>
    </div>*@
</div>