﻿.btn-area {
  padding: 30px 0;
}
.my-btn {
  background: #dd4b39;
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 4px 10px;
  transition: 0.3s;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  text-align:center;
}
.my-btn:focus {
  outline: none;
}
.my-btn:hover {
  color: #fff;
}

.my-btn-success {
  background: #489205;
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 4px 10px;
  transition: 0.3s;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  text-align:center;
}
.my-btn-success:focus {
  outline: none;
}
.my-btn-success:hover {
  color: #000;
}


.btn5::after,
.btn6::after,
.btn7::after,
.btn8::after,
.btn9::after,
.btn10::after,
.btn11::after,
.btn12::after,
.btn13::after,
.btn14::after,
.btn15::after,
.btn16::after,
.btn17::after,
.btn18::after,
.btn19::after,
.btn20::after,
.btn21::after,
.btn22::after,
.btn23::after,
.btn24::after,
.btn25::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #808080;
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn8,
.btn9,
.btn10 {
  overflow: hidden;
}

.btn12 {
  color: #000;
}
/*-----------------------------------------*/

.btn1::after,
.btn2::after,
.btn3::after,
.btn4::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #808080;
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn1:hover:after {
  width: 100%;
  height: 100%;
}

/*-----------Btn 2----------------*/
.btn2::after {
  right: 0;
  left: unset;
}
.btn2:hover:after {
  width: 100%;
}

/*-----------Btn 3----------------*/
.btn3::after {
  right: 0;
  height: 0;
  width: 100%;
}
.btn3:hover:after {
  height: 100%;
}

/*-----------Btn 4----------------*/
.btn4::after {
  top: unset;
  bottom: 0;
  height: 0;
  width: 100%;
}
.btn4:hover:after {
  height: 100%;
}

/*----------------btn 5------------------*/

.btn5::after {
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform-origin: 0 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.btn5:hover:after {
  transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
}

/*----------------btn 6------------------*/

.btn6::after {
  height: 100%;
  width: 0;
  left: unset;
  right: 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform-origin: 0 0;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.btn6:hover:after {
  width: 100%;
}

/*----------------btn 7------------------*/

.btn7::after {
  height: 0;
  width: 100%;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform-origin: 0 0;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.btn7:hover:after {
  height: 100%;
}

/*----------------btn 8------------------*/

.btn8::after {
  bottom: 0;
  top: unset;
  height: 0;
  width: 100%;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform-origin: 0 0;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.btn8:hover:after {
  height: 100%;
}

/*---------------btn 9 -------------------*/
.btn9::after {
  transform: scale(0);
}
.btn9:hover:after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/*---------------btn 10 -------------------*/
.btn10::after {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.btn10:hover:after {
  transform: scaleX(0.9);
  -webkit-transform: scaleX(0.9);
  -moz-transform: scaleX(0.9);
  -ms-transform: scaleX(0.9);
  -o-transform: scaleX(0.9);
}

/*---------------btn 11 -------------------*/
.btn11::after {
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}
.btn11:hover:after {
  transform: scaleY(0.8);
  -webkit-transform: scaleY(0.8);
  -moz-transform: scaleY(0.8);
  -ms-transform: scaleY(0.8);
  -o-transform: scaleY(0.8);
}

/*---------------btn 12 -------------------*/
.btn12::after {
  transform: scale3d(0.5, 0.1, -0.7);
  -webkit-transform: scale3d(0.5, 0.1, -0.7);
  -moz-transform: scale3d(0.5, 0.1, -0.7);
  -ms-transform: scale3d(0.5, 0.1, -0.7);
  -o-transform: scale3d(0.5, 0.1, -0.7);
}
.btn12:hover:after {
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
}

/*---------------btn 13 -------------------*/

.btn13::after {
  transform: skew(43deg, 18deg);
  -webkit-transform: skew(43deg, 18deg);
  -moz-transform: skew(43deg, 18deg);
  -ms-transform: skew(43deg, 18deg);
  -o-transform: skew(43deg, 18deg);
}
.btn13:hover:after {
  transform: skew(0, 0);
  -webkit-transform: skew(0, 0);
  -moz-transform: skew(0, 0);
  -ms-transform: skew(0, 0);
  -o-transform: skew(0, 0);
}

/*---------------btn 14 -------------------*/
.btn13,
.btn14,
.btn15,
.btn16,
.btn17,
.btn18,
.btn19,
.btn20 {
  overflow: hidden;
  color: #000;
}
.btn14::after {
  width: 101%;
  height: 101%;
  transform: skewY(33deg);
  -webkit-transform: skewY(33deg);
  -moz-transform: skewY(33deg);
  -ms-transform: skewY(33deg);
  -o-transform: skewY(33deg);
}
.btn14:hover:after {
  transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  -moz-transform: skewY(0deg);
  -ms-transform: skewY(0deg);
  -o-transform: skewY(0deg);
}

/*---------------btn 15 -------------------*/
.btn15::after {
  width: 101%;
  height: 101%;
  transform: skewY(-34deg);
  -webkit-transform: skewY(-34deg);
  -moz-transform: skewY(-34deg);
  -ms-transform: skewY(-34deg);
  -o-transform: skewY(-34deg);
}
.btn15:hover:after {
  transform: skewY(0);
  -webkit-transform: skewY(0);
  -moz-transform: skewY(0);
  -ms-transform: skewY(0);
  -o-transform: skewY(0);
}

/*---------------btn 16 -------------------*/
.btn16::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.btn16:hover:after {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

/*---------------btn 17 -------------------*/
.btn17::after {
  transform: rotateX(45deg);
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
}
.btn17:hover:after {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

/*---------------btn 18 -------------------*/
.btn18::after {
  transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
}
.btn18:hover:after {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

/*---------------btn 19 -------------------*/
.btn19::after {
  transform: rotateZ(35deg);
  -webkit-transform: rotateZ(35deg);
  -moz-transform: rotateZ(35deg);
  -ms-transform: rotateZ(35deg);
  -o-transform: rotateZ(35deg);
}
.btn19:hover:after {
  transform: rotateZ(0);
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  -o-transform: rotateZ(0);
}

/*---------------btn 20 -------------------*/
.btn20::after {
  transform: rotate3d(1, 1, 1, 45deg);
  -webkit-transform: rotate3d(1, 1, 1, 45deg);
  -moz-transform: rotate3d(1, 1, 1, 45deg);
  -ms-transform: rotate3d(1, 1, 1, 45deg);
  -o-transform: rotate3d(1, 1, 1, 45deg);
}
.btn20:hover:after {
  transform: rotate3d(0, 0, 0, 45deg);
  -webkit-transform: rotate3d(0, 0, 0, 45deg);
  -moz-transform: rotate3d(0, 0, 0, 45deg);
  -ms-transform: rotate3d(0, 0, 0, 45deg);
  -o-transform: rotate3d(0, 0, 0, 45deg);
}

/*---------------btn 21 -------------------*/
.btn21::after {
  z-index: -1;
  transform: translate(10px, 10px);
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  -o-transform: translate(10px, 10px);
}
.btn21:hover:after {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}

/*---------------btn 22 -------------------*/
.btn21,
.btn22,
.btn23 {
  color: #000;
  overflow: hidden;
}
.btn22::after {
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.btn22:hover:after {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

/*---------------btn 23 -------------------*/
.btn23::after {
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.btn23:hover:after {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

/*---------------------------------------------------------------------------------------*/
 $white: #FFF;
$normal: #4CAF50;
$hover: #fb1c1c; //#3e8e41;

.clr {
	clear: left;
	display: block;
	width: 100%;
	padding: 10px 0;
}
my-btn1 {
	position: relative;
	width: 100%;
	height: 50px;
	max-width: 300px;
	font-size: 1rem;
	margin: 1rem;
	color: $white;
	background: $normal;
	border: 1px solid transparent;
	cursor: pointer;
	&:hover {
		background: $hover;
	}
}

.rounded {
	border-radius: 25px;
}

.shadow {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.animated {
	// left to right
	&.ltr {
		background: none;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $normal;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 100%;
			background: $hover;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			&:after {
				width: 100%;
				transition: all 500ms ease;
			}
		}
	}
	// right to left
	&.rtl {
		background: none;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $normal;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0%;
			height: 100%;
			background: $hover;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			&:after {
				width: 100%;
				transition: all 500ms ease;
			}
		}
	}
	// top to bottom
	&.ttb {
		background: none;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $normal;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			background: $hover;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			&:after {
				height: 100%;
				transition: all 500ms ease;
			}
		}
	}
	// bottom to top
	&.btt {
		background: none;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $normal;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0;
			background: $hover;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			&:after {
				height: 100%;
				transition: all 500ms ease;
			}
		}
	}
	// border
	&.border {
		color: $normal;
		background: none;
		border: 2px solid transparent;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			top: -4px;
			left: 50%;
			width: 0%;
			height: 100%;
			border: 2px solid transparent;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 50%;
			left: 0;
			right: 0;
			width: 100%;
			height: 0;
			border: 2px solid transparent;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			&:before {
				left: 0;
				width: 100%;
				border-top: 2px solid $hover;
				border-left: 2px solid transparent;
				border-bottom: 2px solid $hover;
				border-right: 2px solid transparent;
				transition: all 500ms ease;
			}
			&:after {
				bottom: 0;
				height: 100%;
				border-top: 2px solid transparent;
				border-left: 2px solid $hover;
				border-bottom: 2px solid transparent;
				border-right: 2px solid $hover;
				transition: all 500ms ease;
			}
		}
	}
	// fill in
	&.fillin {
		color: $normal;
		background: none;
		border: none;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2px solid $normal;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 50%;
			left: 50%;
			width: 0;
			height: 0;
			border: 2px solid transparent;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			color: $white;
			&:after {
				bottom: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: $normal;
				transition: all 500ms ease;
			}
		}
	}
	// fill out
	&.fillout {
		color: $white;
		background: none;
		border: none;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2px solid $normal;
			z-index: -2;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $normal;
			border: 2px solid transparent;
			transition: all 500ms ease;
			z-index: -1;
		}
		&:hover{
			background: none;
			color: $normal;
			&:after {
				bottom: 50%;
				left: 50%;
				height: 0;
				width: 0;
				background: transparent;
				transition: all 500ms ease;
			}
		}
	}
	// rotate
	&.rotate {
		color: $white;
		background: $normal;
		border: none;
		transition: all 300ms ease;
		z-index: 1;
		&:hover{
			background: $hover;
			transform: rotateY(180deg);
			transition: all 300ms ease;
		}
	}
	// zoom
	&.zoom {
		color: $white;
		background: $normal;
		border: none;
		transition: all 300ms ease;
		z-index: 1;
		&:hover{
			background: $hover;
			transform: scale(1.1);
			transition: all 300ms ease;
		}
	}
	// width
	&.stretch {
		color: $white;
		background: $normal;
		width: 150px;
		border: none;
		transition: all 300ms ease;
		z-index: 1;
		&:hover{
			background: $hover;
			width: 300px;
			transition: all 300ms ease;
		}
	}
}