﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    AppDbContext db = new AppDbContext();
    var quyenhanh = db.Authorities.Where(x=>x.Code != "TL0000"&& x.Code != "TL0012").OrderByDescending(x => x.id).Select(x => new { x.id, x.Code, x.Name }).ToList();
}
@model Role

<section class="content-header">
    <h1>
        Chức vụ
        <small> Chức vụ</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Chức vụ</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            @using (Html.BeginForm("Edit", "Role", FormMethod.Post))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tạo mới chức vụ</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Code</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control input-sm" value="@Model.id" name="RoleID"  placeholder="code">
                                    <input type="text" class="form-control input-sm"value="@Model.code" id="code" name="code" placeholder="code">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Tên Chức vụ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm"value="@Model.name" id="name" name="name" placeholder="name">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Quyền hành</h3>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        @{
                            foreach (var item in quyenhanh)
                            {
                                if (db.Decentralizations.Where(x => x.RoleID == Model.id && x.AuthorID == item.id).Count() > 0)
                                {
                                    <div class="form-group col-md-3">
                                        <label>
                                            <input type="checkbox" value="@item.id" name="AuthorID" checked class="minimal"> @item.Name
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-3">
                                        <label>
                                            <input type="checkbox" value="@item.id" name="AuthorID" class="minimal"> @item.Name
                                        </label>
                                    </div>
                                }
                            }
                        }


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Cập nhập</button>
                        <button type="button" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                </div>
                <!-- /.box -->
                            }
        </div>
    </div>
    <!-- /.row -->
</section>



@section Script{

}




