﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<Role>

<section class="content-header">
    <h1>
        Chức vụ
        <small> Chức vụ</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Chức vụ</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Tên chức vụ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.code</td>
                                    <td>@item.name</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Role",new { id=item.id})" title="edit" class="btn-warning btn btn-sm fa fa-pencil" style="margin-top:2px"></a>
                                        <button onclick="return Delete(@item.id)" title="delete" class="btn-dange btn btn-sm fa fa-trash-o" style="margin-top:2px"></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Code</th>
                                <th>Tên chức vụ</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>


@section Script{
    <!-- DataTables -->
    <script src="~/Areas/Admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            // $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })


        function Delete(id) {
            if (confirm("bạn có chắc xóa bản ghi này!")) {
                $.ajax({
                    url: "/Admin/Role/Delete",
                    type: "POST",
                    //headers: { "Authorization": "Bearer " + token },
                    data:{
                        RoleID:id
                    },
                    success: function (data) {

                        if (data.success) {
                            $.notify(data.ms, { position: "top right", className: "success" });
                        } else {
                            $.notify(data.ms, { position: "top right", className: "error" });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        $.notify("Xóa thông tin thất bại", { position: "top right", className: "error" });
                    }
                });
            }
        }
    </script>
}

