﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <small>Tạo mới Video</small>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lí Video</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @using (Html.BeginForm("Create", "Video", FormMethod.Post, new { id = "frmVideo" }))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thêm mới Video</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Tiêu đề :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="TieuDe" name="TieuDe" placeholder="Tiêu đề">
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh đại diện :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="Anhdaidien" name="Anhdaidien" placeholder="link online ảnh youtube">
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Số tiền :</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control input-sm" id="SoTien" name="SoTien" placeholder="Số tiền">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Embed Video:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="Embed" name="Embed" placeholder="Ví dụ : www.youtube.com/watch?v=P3h_HY5QEas =>Embed : P3h_HY5QEas">
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Kênh:</label>
                                <div class="col-sm-10">
                                    <select class="select2 form-control input-sm" style="width: 100%;" id="ID_kenh-cbo" name="ID_kenh">
                                        <option selected="selected">--chọn--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mô tả :</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control input-sm" id="Mota" name="Mota" placeholder="Mô tả"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-3" style="margin-top: 5px;">
                                    <input type="checkbox" name="ThinhHanh" id="ThinhHanh" value="true"> <label>Thịnh hành</label>
                                </div>
                                <div class="col-sm-3" style="margin-top: 5px;">
                                    <input type="checkbox" name="DeXuat" id="DeXuat" value="true"> <label>Dề xuất</label>
                                </div>
                                <div class="col-sm-3" style="margin-top: 5px;">
                                    <input type="checkbox" name="TrangThai" id="TrangThai" value="true" checked="checked"> <label>Trạng thái</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Tạo mới</button>
                        <button type="reset" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                    <div class="overlay" id="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                        <!-- /.box -->
            }
        </div>
    </div>
    <!-- /.row -->
</section>


@section Script{
    <script>
        $(function () {
            $(".overlay").hide();
            GetListKenh();
        });
    </script>
    <script src="~/Areas/Admin/Script/videoControl.js"></script>
}