﻿@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1>
        Chi tiêt kênh
        <small>Chi tiêt Video</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Menu</a></li>
        <li class="active">Video</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <div class="col-md-12">
                <p class="lead text-bold">Thông Tin Chi Tiết Video</p>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tên Kênh :</label>
                        <div class="col-sm-9">
                            <div id="TenKenh"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Mô tả :</label>
                        <div class="col-sm-9">
                            <div id="Mota"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Địa chỉ :</label>
                        <div class="col-sm-9">
                            <div id="DiaChi"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tiêu đề :</label>
                        <div class="col-sm-9">
                            <div id="TieuDe"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tiêu đề không dấu :</label>
                        <div class="col-sm-9">
                            <div id="TieuDe_KhongDau"></div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Số tiền :</label>
                        <div class="col-sm-9">
                            <div id="SoTien"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Số lượt xem :</label>
                        <div class="col-sm-9">
                            <div id="LuotXem"></div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ngày tạo :</label>
                        <div class="col-sm-9">
                            <div id="CreateDate"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Người tạo :</label>
                        <div class="col-sm-9">
                            <div id="CreateBy"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Thịnh hành :</label>
                        <div class="col-sm-9">
                            <div id="ThinhHanh"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Trạng thái :</label>
                        <div class="col-sm-9">
                            <div id="TrangThai"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Đề xuất :</label>
                        <div class="col-sm-9">
                            <div id="DeXuat"></div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ảnh đại diện :</label>
                        <div class="col-sm-9">
                            <img id="Anhdaidien"  width="300" height="150"/>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Video :</label>
                        <div class="col-sm-9">
                            <video width="300" height="150">
                                <source id="UrlVideo" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

@section Script{
    <script>
        $(function () {
            getDetailItem('@ViewBag.ID');
        });
    </script>
    <script src="~/Areas/Admin/Script/videoControl.js"></script>
}


