﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <small>Cập nhật Video</small>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Menu</a></li>
        <li class="active">Quản lí Video</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("Edit", "Video", new { id = ViewBag.ID }, FormMethod.Post, new { id = "frmVideoUpdate", @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group" style="display: none">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mã Video :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="IDVideo" name="IDVideo" placeholder="Mã Video">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Tiêu đề :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="TieuDe" name="TieuDe" placeholder="Tiêu đề">
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ảnh đại diện :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="Anhdaidien" name="Anhdaidien" placeholder="Ảnh đại diện">
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Số tiền :</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-sm" id="SoTien" name="SoTien" placeholder="Số tiền">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Embed:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="Embed" name="Embed" placeholder="Embed">
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">ID Kênh:</label>
                        <div class="col-sm-10">
                            <select class="select2 form-control input-sm" style="width: 100%;" id="ID_kenh-cbo" name="ID_kenh">
                                <option selected="selected">--chọn--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mô tả :</label>
                        <div class="col-sm-10">
                            <textarea class="form-control input-sm" id="Mota" name="Mota" placeholder="Mô tả"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3" style="margin-top: 5px;">
                            <input type="checkbox" name="ThinhHanh" id="ThinhHanh" value="true"> <label>Thịnh hành</label>
                        </div>
                        <div class="col-sm-3" style="margin-top: 5px;">
                            <input type="checkbox" name="DeXuat" id="DeXuat" value="true" checked="checked"> <label>Dề xuất</label>
                        </div>
                        <div class="col-sm-3" style="margin-top: 5px;">
                            <input type="checkbox" name="TrangThai" id="TrangThai" value="true" checked="checked"> <label>Trạng thái</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="return getid('@ViewBag.ID')">Làm mới</button>
                <button type="submit" class="btn btn-info pull-right" id="btnupdate">Cập nhập</button>
            </div>
        }
    </div>
</section>

<!-- /.content -->
@section Script{
    <script>
        $(function () {
            itemVideo('@ViewBag.ID');
        });
    </script>
    <script src="~/Areas/Admin/Script/videoControl.js"></script>
}
