﻿@using Library.YTB.BO.Models;
@using Library.YTB.Utils;
@{
    Layout = null;
    AppDbContext db = new AppDbContext();
}
@if (User.Identity.IsAuthenticated)
{
    int? RoleID = db.Users.Where(x => x.username == User.Identity.Name).Select(x => x.role_id).FirstOrDefault(); ;

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Lib/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Caidatchung" )"><i class="fa fa-circle-o"></i> Cài đặt trang</a></li>
                    </ul>
                </li>
                @if (Utils.Decentralization(User.Identity.Name, "TL0002"))
                {
                 
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Quản lí Chức vụ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Role" )"><i class="fa fa-circle-o"></i> Danh sách</a></li>

                            <li><a href="@Url.Action("Create", "Role" )"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
                        </ul>
                    </li>
                }


                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí Tài khoản</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "User" )"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                        <li><a href="@Url.Action("Create", "User" )"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí Địa chỉ</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Diachi", "Home" )"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                        <li><a href="@Url.Action("Create", "MD_TinhThanh" )"><i class="fa fa-circle-o"></i> Tạo Tỉnh, thành</a></li>
                        <li><a href="@Url.Action("Create", "MD_QuanHuyen" )"><i class="fa fa-circle-o"></i> Tạo Quận, huyện</a></li>
                        <li><a href="@Url.Action("Create", "MD_PhuongXa" )"><i class="fa fa-circle-o"></i> Tạo Phường, xã</a></li>
                    </ul>
                </li>

                @if (Utils.Decentralization(User.Identity.Name, "TL0011"))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Quản lí Menu</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li><a href="@Url.Action("Index", "Menu" )"><i class="fa fa-circle-o"></i> Danh sách</a></li>


                            <li><a href="@Url.Action("Create", "Menu" )"><i class="fa fa-circle-o"></i> Tạo mới</a></li>

                        </ul>
                    </li>
                }

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí giao dịch</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Giaodich" )"><i class="fa fa-circle-o"></i> Danh sách giao dịch</a></li>
                        <li><a href="@Url.Action("Index", "Giaodich" )"><i class="fa fa-circle-o"></i> Danh sách chuyển tiền</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí Kênh</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Kenh" )"><i class="fa fa-circle-o"></i> Danh sách Kênh</a></li>
                        <li><a href="@Url.Action("Create", "Kenh" )"><i class="fa fa-circle-o"></i> Tạo kênh</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí Video</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Video" )"><i class="fa fa-circle-o"></i> Danh sách video</a></li>
                        <li><a href="@Url.Action("Create", "Video" )"><i class="fa fa-circle-o"></i> Tạo video</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí Sản phẩm</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Sanpham" )"><i class="fa fa-circle-o"></i> Danh sách Sản phẩm</a></li>
                        <li><a href="@Url.Action("Create", "Sanpham" )"><i class="fa fa-circle-o"></i> Tạo Sản phẩm</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí Ngân hàng</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "MD_NganHang" )"><i class="fa fa-circle-o"></i> Danh sách Ngân hàng</a></li>
                        <li><a href="@Url.Action("Create", "MD_NganHang" )"><i class="fa fa-circle-o"></i> Tạo ngân hàng</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Quản lí người dùng</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Khachhang" )"><i class="fa fa-circle-o"></i> Danh sách người dùng</a></li>
                        <li><a href="@Url.Action("Create", "Khachhang" )"><i class="fa fa-circle-o"></i> Tạo người dùng</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
}
else
{
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Lib/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
}

