﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div> 
        <p>Xảy ra lỗi, xem chi tiết hướng thực hiện liên kết goole <a href="#">[tại đây...]</a></p>
    </div>
</body>
</html>
