﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.SiteName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Lib/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Lib/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Lib/css/font-awesome.css" rel="stylesheet">
    <style>
        body{
            font-family: 'Tahoma', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <!-- header -->
    <div class="w3_navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h3><a class="navbar-brand" href="#"><span class="one">M</span>MO</a></h3>
                    </div>
                </div>

                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="scroll" href="index.html">Trang chủ</a></li>
                            <li><a href="#about" class="scroll hvr-bounce-to-bottom">Giới thiệu</a></li>
                            <li><a href="#services" class="scroll hvr-bounce-to-bottom">Hệ thống</a></li>
                            <li><a href="/login">Đăng nhập/Đăng kí</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //header -->

    <div class="main" id="home">
        <!-- banner -->
        <div class="banner">
            <!--Slider-->
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="slider-info">
                            <h3>Kiếm tiền online</h3>
                            <p>Thu nhập hàng triệu đồng một ngày</p>
                        </div>
                    </li>

                    <li>
                        <div class="slider-info">
                            <h3>Cách kiếm tiền</h3>
                            <p>Đơn giản cho tất cả mọi người</p>
                        </div>
                    </li>

                    <li>
                        <div class="slider-info">
                            <h3>Thời gian bỏ ra</h3>
                            <p>Chỉ cần bỏ 1 đến 2h một ngày</p>
                        </div>
                    </li>
                    <li>
                        <div class="slider-info">
                            <h3>Rút tiền đơn giản</h3>
                            <p>Rút tiền về mọi ngân hàng</p>
                        </div>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <!--//Slider-->
            <ul class="top-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <!-- //banner -->
    </div>

    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <p style="text-align: center; font-weight: bold; font-size: 25px">@ViewBag.SiteName</p>
            <div class="w3l-grids-about">
                <div class="col-md-5 w3ls-ab-right">
                    <div class="agile-about-right-img">
                        <img src="~/Lib/images/ab.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 w3ls-agile-left">
                    <p style="font-size: 18px; margin-top: 0px;font-weight:bold">Kênh kiếm tiền Online cho mọi người</p>
                    <p style="text-align:justify">
                        @ViewBag.SiteName là nền tảng giúp cho các thành viên tận dụng thời gian rảnh rỗi của mình để kiếm thêm thu nhập bằng cách thực hiện một số nhiệm vụ đơn giản như đăng ký tài khoản, xem quảng cáo...
                        Tiền kiếm được bạn có thể rút qua tài khoản ngân hàng tại Việt Nam.
                    </p>
                    <p style="color: red"> Hãy đăng ký một tài khoản ngay bây giờ để bắt đầu kiếm tiền.</p>
                    <a href="/registration" class="read">Đăng ký ngay</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //about-bottom -->
    <!-- /property-grids -->
    <div class="property-grids">
        <div class="agile-homes-w3l  grid">
            <div class="col-md-6 home-agile-left">
                <figure class="effect-moses">
                    <img src="~/Lib/images/a1.jpg" alt="" />
                    @*<figcaption>
                        <h4>MMECOMPLEX</h4>
                        <p>KIẾM TIỀN ONLINE CÓ THU NHẬP HẤP DẪN</p>
                    </figcaption>*@
                </figure>

            </div>
            <div class="col-md-6 home-agile-left">
                <figure class="effect-moses">
                    <img src="~/Lib/images/a2.jpg" alt="" />
                    @*<figcaption>
                        <h4>MMECOMPLEX</h4>
                        <p>KIẾM TIỀN ONLINE CÓ THU NHẬP HẤP DẪN</p>
                    </figcaption>*@
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //property-grids -->
    <!-- /services -->
    <div class="services" id="services">
        <div class="container">
            <p style="text-align: center; font-weight: bold; font-size: 25px">Hệ thống</p>
            <br />
            <div class="agileinfo-wthree-grid-info" style="margin: 0px">
                <div class="col-md-5 serve-agile-wthree-text">
                    <p style="font-size: 18px; margin-top: 0px;font-weight:bold">Các bước kiếm tiền</p>
                    <p>
                        @ViewBag.SiteName là nền tảng giúp cho các thành viên tận dụng thời gian rãnh rỗi của mình để kiếm thêm thu nhập bằng cách thực hiện một số nhiệm vụ đơn giản như đăng ký tài khoản, xem quảng cáO...
                    </p>
                </div>
                <div class="col-md-7 agile_banner_bottom_grids">
                    <div class="col-md-6 agile_banner_bottom_grid">
                        <div class="agile_banner_bottom_grid1 hvr-rectangle-out">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                        <h3>Bước 1</h3>
                        <p>Xem Video hướng dẫn kiếm tiền</p>
                    </div>
                    <div class="col-md-6 agile_banner_bottom_grid">
                        <div class="agile_banner_bottom_grid1 hvr-rectangle-out">
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                        </div>
                        <h3>Bước 2</h3>
                        <p>Đăng nhập/Đăng ký tài khoản</p>
                    </div>
                    <div class="col-md-6 agile_banner_bottom_grid">
                        <div class="agile_banner_bottom_grid1 hvr-rectangle-out">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                        </div>
                        <h3>Bước 3</h3>
                        <p>Chọn hình thức kiếm tiền online bất kì</p>
                    </div>
                    <div class="col-md-6 agile_banner_bottom_grid">
                        <div class="agile_banner_bottom_grid1 hvr-rectangle-out">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                        </div>
                        <h3>Bước 4</h3>
                        <p>Xem hướng dẫn rút tiền để chuyển tiền về tài khoản ngân hàng</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //services -->
    
    <!--/news-->
    <!--//news-->
    <!-- updates-bottom -->
    <div class="updates-bottom">
        <div class="container">
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid_left">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <div class="w3_updates_bottom_grid_right">
                    <p class="counter">886</p>
                    <h3>Thành viên</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid_left">
                    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                </div>
                <div class="w3_updates_bottom_grid_right">
                    <p class="counter">652</p>
                    <h3>Thành viên mới</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid_left">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </div>
                <div class="w3_updates_bottom_grid_right">
                    <p class="counter">886</p>
                    <h3>Đang hoạt động</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid_left">
                    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                </div>
                <div class="w3_updates_bottom_grid_right">
                    <p class="counter">457</p>
                    <h3>Rút tiền hôm nay</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>
    <!-- //updates-bottom -->
    <!-- conatact -->
    @*<div class="contact" id="contact">
        <div class="container">
            <p style="text-align: center; font-weight: bold; font-size: 25px">Liên hệ với chúng tôi</p>
            <div class="agileits_w3layouts_contact">
                <div class="w3_contact_grids">
                    <form action="#" method="post">
                        <span class="input input--jiro">
                            <input class="input__field input__field--jiro" type="text" id="input-10" name="Name" placeholder="Your Name" required="" />
                            <label class="input__label input__label--jiro" for="input-10">
                                <span class="input__label-content input__label-content--jiro">Tên  của bạn</span>
                            </label>
                        </span>
                        <span class="input input--jiro">
                            <input class="input__field input__field--jiro" type="text" id="input-11" name="Econtact" placeholder="Your Econtact Address" required="" />
                            <label class="input__label input__label--jiro" for="input-11">
                                <span class="input__label-content input__label-content--jiro">Email liên hệ</span>
                            </label>
                        </span>
                        <span class="input input--jiro">
                            <input class="input__field input__field--jiro" type="text" id="input-12" name="Phone Number" placeholder="Phone Number" required="" />
                            <label class="input__label input__label--jiro" for="input-12">
                                <span class="input__label-content input__label-content--jiro">Số điện thoại</span>
                            </label>
                        </span>
                        <textarea name="Message" placeholder="Nội dung" required=""></textarea>
                        <input type="submit" value="Gửi ngay">
                    </form>
                </div>
            </div>

        </div>
    </div>*@

    <!-- //contact -->
    <!-- footer -->
    <div class="footer-bottom">
        <div class="container">
            <div class="w3agile_footer_grids">
                <div class="col-md-4 w3agile_footer_grid">
                    <h3>Giới thiệu</h3>
                    <p>
                        @ViewBag.SiteName là nền tảng giúp cho các thành viên tận dụng thời gian rãnh rỗi của mình để kiếm thêm thu nhập bằng cách thực hiện một số nhiệm vụ đơn giản như đăng ký tài khoản, xem quảng cáO...
                    </p>
                </div>

                <div class="col-md-4 w3agile_footer_grid">
                    <h3>Contact Info</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="contactto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                    </ul>
                </div>
                <div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
                    <h3>Navigation</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#about">Giới thiệu</a></li>
                        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#work">Hệ thống</a></li>
                        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#team">Trưng bày</a></li>
                        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#contact">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="copy-right-social">
        <div class="container">
            <div class="copy-right">
                <p>&copy; 2019 Pro Property. All rights reserved | Design by <a href="@ViewBag.Host">@ViewBag.SiteName</a></p>
            </div>
            <div class="bottom-socila-icons">
                <ul class="top-links two">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <script src="~/Lib/js/jquery-2.2.3.min.js"></script>
    <!-- skills -->

    <script src="~/Lib/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- js -->
    <!-- Starts-Number-Scroller-Animation-JavaScript -->
    <script src="~/Lib/js/waypoints.min.js"></script>
    <script src="~/Lib/js/counterup.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 20,
                time: 1000
            });
        });
    </script>

    <script type="text/javascript" src="~/Lib/js/move-top.js"></script>
    <script type="text/javascript" src="~/Lib/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!--swipebox -->
    <script src="~/Lib/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!--//swipebox Ends -->
    <!-- //js -->
    <script src="~/Lib/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
</body>
</html>
