﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       Thêm Kênh
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Kênh</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            @using (Html.BeginForm("Create", "Kenh", FormMethod.Post, new { id = "frmKenh", @class= "form-horizontal" }))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tạo Kênh</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Tên kênh :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="TenKenh" name="TenKenh" placeholder="Tên kênh">
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">ID kênh :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="ChannelsID" name="ChannelsID" placeholder="ID kênh">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Embed video :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="EmbedDemo" name="EmbedDemo" placeholder="Embed Video Demo kênh">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email kênh :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="EmailKenh" name="EmailKenh" placeholder="Email kênh">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Pass kênh :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="PassKenh" name="PassKenh" placeholder="Pass kênh">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Số điện thoại :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="Sdt" name="Sdt" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Giá tiền :</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control input-sm" id="GiatienSub" name="GiatienSub" placeholder="Giá tiền">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" name="isPopular" id="isPopular" value="true"> <label>Phổ biến</label>
                                </div>
                                <div  class="col-sm-3">
                                    <input type="checkbox" name="isPrioritize" id="isPrioritize" value="true"> <label>Ưu tiên</label>
                                </div>
                                <div  class="col-sm-3">
                                    <input type="checkbox" checked name="isActive" id="isActive" value="true"> <label>Trạng thái</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Tạo mới</button>
                        <button type="reset" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                    <div class="overlay" id="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                    <!-- /.box -->
            }
        </div>
    </div>
    <!-- /.row -->
</section>


@section Script{
    <script>
        $(function () {
            $(".overlay").hide();
        });
    </script>
    <script src="~/Areas/Admin/Script/kenhControl.js"></script>
}