﻿@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chi tiêt kênh
        <small>Chi tiêt kênh</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Menu</a></li>
        <li class="active">Kênh</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <div class="col-md-12">
                <p class="lead text-bold">Thông Tin Chi Tiết Kênh</p>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tên Kênh :</label>
                        <div class="col-sm-9">
                            <div id="TenKenh"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">ID Kênh :</label>
                        <div class="col-sm-9">
                            <div id="ChannelsID"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Email Kênh :</label>
                        <div class="col-sm-9">
                            <div id="EmailKenh"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Pass kênh :</label>
                        <div class="col-sm-9">
                            <div id="PassKenh"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Người tạo :</label>
                        <div class="col-sm-9">
                            <div id="Create_by"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ngày tạo :</label>
                        <div class="col-sm-9">
                            <div id="Create_Date"></div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Giá tiền Sub :</label>
                        <div class="col-sm-9">
                            <div id="GiatienSub"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Số lượt Sub :</label>
                        <div class="col-sm-9">
                            <div id="SoluotSub"></div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Phổ biến :</label>
                        <div class="col-sm-9">
                            <div id="isPopular"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Ưu tiên :</label>
                        <div class="col-sm-9">
                            <div id="isPrioritize"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12" style="margin-bottom: 15px;">
                        <label for="inputPassword3" class="col-sm-3 control-label">Trạng thái :</label>
                        <div class="col-sm-9">
                            <div id="isActive"></div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

<!-- /.content -->
@section Script{
    <script>
        $(function () {
            getDetailItem('@ViewBag.ID');
        });
    </script>
    <script src="~/Areas/Admin/Script/kenhControl.js"></script>
}
