﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cập nhật thông tin kênh
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Kênh</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-danger">
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("Edit", "Kenh", new { ID = @ViewBag.id }, FormMethod.Post, new { id = "frmKenhUpdate", @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="form-group" style="display: none">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mã kênh :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="ID" name="ID" placeholder="Tên kênh">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Tên kênh :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="TenKenh" name="TenKenh" placeholder="Tên kênh">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">ID kênh :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="ChannelsID" name="ChannelsID" placeholder="ID kênh">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Embed Video :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="EmbedDemo" name="EmbedDemo" placeholder="Embed Video Demo kênh">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email kênh :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="EmailKenh" name="EmailKenh" placeholder="Email kênh">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Pass kênh :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="PassKenh" name="PassKenh" placeholder="Pass kênh">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Số điện thoại :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="Sdt" name="Sdt" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Giá tiền :</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control input-sm" id="GiatienSub" name="GiatienSub" placeholder="Giá tiền">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="isPopular" id="isPopular" value="true"> <label>Phổ biến</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="isPrioritize" id="isPrioritize" value="true"> <label>Ưu tiên</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="isActive" id="isActive" value="true"> <label>Trạng thái</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="return detailItemKenh('@ViewBag.id');">Làm mới</button>
                <button type="submit" class="btn btn-info pull-right" id="btnupdate">Cập nhập</button>
            </div>
        }
    </div>
</section>

@section Script{
    <script>
         $(function () {
             detailItemKenh('@ViewBag.id');
        });
    </script>
    <script src="~/Areas/Admin/Script/kenhControl.js"></script>
}