﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>
        Quản lí kênh
        <small>Thông tin kênh</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lí kênh</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-3">
                        <h3 class="box-title">Quản lý kênh</h3>
                    </div>
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button"  class="btn btn-default btn-sm" ><a href="/Admin/Kenh/Create" style="color: black !important">Thêm mới</a></button>
                        <button type="button" class="btn btn-default btn-sm" onclick="return LoadData()">Làm tươi</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="dataTables_length">
                                    <label>
                                        Show
                                        <select id="example-length" class="form-control input-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="col-sm-3">
                                    <div class="dataTables_filter">
                                        <label>Tên kênh:<input id="tenkenh-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dataTables_filter">
                                        <label>Email kênh:<input id="EmailKenh-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dataTables_filter">
                                        <label>SĐT:<input id="sdt-search" type="search" class="form-control input-sm" placeholder="search" /></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dataTables_filter">
                                        <label>
                                            Phổ biến:
                                            <select id="isPopular-search" class="form-control input-sm">
                                                <option value="">--Tất cả--</option>
                                                <option value="true">Active</option>
                                                <option value="false">No Active</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dataTables_filter">
                                        <label>
                                            Ưu tiên:
                                            <select id="isPrioritize-search" class="form-control input-sm">
                                                <option value="">--Tất cả--</option>
                                                <option value="true">Active</option>
                                                <option value="false">No Active</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dataTables_filter">
                                        <label>
                                            Trạng thái:
                                            <select id="isactive-search" class="form-control input-sm">
                                                <option value="">--Tất cả--</option>
                                                <option value="true">Active</option>
                                                <option value="false">No Active</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example-dataTable" class="table table-bordered table-striped dataTable"></table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="example-info" role="status">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous" id="example_previous">
                                            <a class="Button">Previous</a>
                                        </li>
                                        <li class="paginate_button active" id="example-curent">
                                            <a aria-controls="example2" data-dt-idx="6" tabindex="0">6</a>
                                        </li>
                                        <li class="paginate_button next" id="example_next">
                                            <a class="Button">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section Script{
<script src="~/Areas/Admin/Script/kenhTable.js"></script>
<script src="~/Areas/Admin/Script/kenhControl.js"></script>
}