﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MMOAdmin/Views/Shared/Layout.cshtml";
}

<section class="content-header">
    <h1>
        Xem video kiếm xu
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Xem video kiếm xu</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-widget container" id="video-view" style="max-width:640px">
                @*<div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <div class="container" style="max-width:640px">
                            <iframe id="existing-iframe-example" width="640" height="360"
                                    src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1" frameborder="0"
                                    style="border: solid 4px #37474F"></iframe>
                        </div>
                    </div>
                    <div class="box-footer" id="setSecons">
                        <span id="h">Giờ</span> :
                        <span id="m">Phút</span> :
                        <span id="s">Giây</span>
                        <button type="button" class="btn btn-sm btn-default">Nhận tiền</button>
                    </div>*@
            </div>


        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="video-offer">
                    @*<div class="col-md-2">
                            <div class="box box-primary">
                                <div class="box-body box-profile">
                                    <img class="img-thumbnail" style="width: 100%;max-height: 201px;"
                                         src="https://i.ytimg.com/vi/v80mWeGpUro/hq720.jpg?sqp=-oaymwEZCNAFEJQDSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCqFWSfB4yExznYClS1HjlDx13DXg"
                                         alt="User profile picture">
                                    <p class="text-center">
                                        Những giả thuyết xung quanh vụ nổ tại
                                        Beirut, Li Băng | VTV24
                                    </p>
                                    <p class="text-muted text-center">200 vnd</p>
                                    <a href="#video-view" class="btn btn-sm btn-primary btn-block">
                                        <b>Xem video</b>
                                    </a>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="box-footer">
                    <p id="example-info_offer" class="pagination pull-left"></p>
                    <nav aria-label="Page navigation example" class="pull-right">
                        <ul class="pagination">
                            <li class="page-item">
                                <span class="page-link" aria-label="Previous" id="example_previous_offer">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </li>
                            <li class="page-item" id="example-curent_offer"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <span class="page-link" aria-label="Next" id="example_next_offer">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</section>

@section ScriptHome{
    <script>
        $(function () {
            videoShow('@ViewBag.ID');
        })
        var idvideo=@ViewBag.ID;
    </script>
    <script src="~/Areas/MMOAdmin/Script/Video.js"></script>
}
