﻿@using Library.YTB.BO.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    AppDbContext db = new AppDbContext();
}
@model User

<section class="content-header">
    <h1>
        Cập nhập tài khoản
        <small> Cập nhập tài khoản</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Tạo tài khoản</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "frmProduc", @class = "form-horizontal" }))
            {
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tạo mới Tài khoản</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Code</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control input-sm" id="id" name="id" value="@Model.id" placeholder="code">
                                    <input type="text" class="form-control input-sm" id="code" name="code" value="@Model.code" disabled placeholder="code">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="email" name="email" value="@Model.email" placeholder="Email">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="username" name="username" value="@Model.username" placeholder="username">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Chức vụ</label>
                                <div class="col-sm-10">
                                    <select class="form-control input-sm" id="role_id" name="role_id">
                                        @foreach (var item in db.Roles.Where(x => x.isDelete == false).ToList())
                                        {
                                            if (Model.role_id == item.id)
                                            {
                                                <option value="@item.id" selected>@item.id - @item.name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.id - @item.name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">First name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="first_name" name="first_name" value="@Model.first_name" placeholder="first name">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Mid name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="mid_name" name="mid_name" value="@Model.mid_name" placeholder="mid name">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Last name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="last_name" name="last_name" value="@Model.last_name" placeholder="last name">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label input-sm">Ngày sinh</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control input-sm" id="birth_date" name="birth_date" value="@Model.birth_date" placeholder="birth date">
                                </div>
                            </div>

                            <br />
                            <div class="checkbox">
                                <label class="pull-right input-sm">
                                    @if (Model.active == true)
                                    {
                                        <input type="checkbox" name="active" id="active" checked value="true"> <label>Kích hoạt</label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="active" id="active" value="true"> <label>Kích hoạt</label>
                                    }
                                </label>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <button type="submit" id="btnUpdate" class="btn btn-primary btn-flat pull-right" style="margin-right: 25px">Cập nhập</button>
                        <button type="reset" id="clearFrm" class="btn btn-default btn-flat pull-right" style="margin-right: 25px">Làm mới</button>
                    </div>
                </div>
                <!-- /.box -->
            }
        </div>
    </div>
    <!-- /.row -->
</section>

@section Script{
    <script type="text/javascript">
        $(function () {
            LoadRoleSelect();
            LoadInfoUser('@ViewBag.ID');
        });
    </script>
    <script src="~/Areas/Admin/Script/userControl.js"></script>
}