﻿
@{
    ViewBag.Title = "Resetpass";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Reset password</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="container" style="width: 40%;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thay đổi mật khẩu</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Resetpass", "User", FormMethod.Post, new { id = "frmUser", @role = "role" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label>Enter Password</label>
                            <input type="password" name="pass" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label>Password New</label>
                            <input type="password" name="passnew" class="form-control" placeholder="Password New">
                        </div>
                        <div class="form-group">
                            <label>Password Comfirm</label>
                            <input type="password" name="comfirmpass" class="form-control" placeholder="Password Comfirm">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Thay đổi</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- /.content -->


@section Script{
    <script src="~/Areas/Admin/Script/userControl.js"></script>
}
