﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MMOAdmin/Views/Shared/Layout.cshtml";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-3">
        <div class="row">
            @RenderPage("~/Areas/MMOAdmin/Views/Shared/UserAdmin.cshtml")
        </div>
    </div>
    <div class="col-md-9">

        <div class="callout callout-info">
            <h4>Tip!</h4>

            <p>
                Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a
                sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and use regular
                links instead.
            </p>
        </div>
        <div class="callout callout-danger">
            <h4>Warning!</h4>

            <p>
                The construction of this layout differs from the normal one. In other words, the HTML markup of the navbar
                and the content will slightly differ than that of the normal layout.
            </p>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Blank Box</h3>
            </div>
            <div class="box-body">
                The great content goes here
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</section>

@section ScriptHome{
    <script src="~/Areas/MMOAdmin/Script/AccuracyAdmin.js"></script>
}